<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <p><a href="/">Home</a> | <a href="/signup">Singup</a> </p>

    <h1> Forum Społeczności Python </h1>
    <form method="post" action="https://www.mojeforum.pl/topic/create-topic" target="hidden-frame">
        <input type="text" name="username" placeholder="Wprowadz imie" required><br>
        <input type="password" name="password" placeholder="Wprowadz hasło" required><br>
        <input type="password" name="repeat" placeholder="Wprowadz haslo jeszcze raz"><br>

        <button>Submit</button>
    </form>

</body>
</html>